body {
  display: flex;
  justify-content: center;
}
.container {
  background-image: linear-gradient(to top, #fffaae, #8fffec);
  width: 30%;
  height: 200;
  border: 2px solid rgb(99, 88, 88);
}
.result {
  display: flex;
  justify-content: right;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.push-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
}
.btn-mem {
  width: 15%;
  height: 20px;
  display: flex;
  justify-content: center;
}
.btn {
  width: 23%;
  display: flex;
  gap: 3%;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
